
/* Make mindmap colors readable (Dark mode) */
.theme-dark .mermaid {
    --color-red: #933;
    --color-orange: #963;
    --color-yellow: #993;
    --color-green: #393;
    --color-cyan: #399;
    --color-blue: #339;
    --color-purple: #639;

/* Override root text color in mermaid 
 * so that it's the same color as regular node text */
.mermaid .section-root text {
    fill: inherit !important;
}